body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgreen;
    font-size: 20px;
}

body.main{
    text-align: center;
}

h1{
    font-weight: bold;
}

h2.bal{
    text-align: left;
}

.head{
    width: 400px;
}

div{
    text-align:  center;
}

.image{
    width: 300px;
}

ul,ol{
    text-align: left;
    border-style:ridge;
    border-color: black;
    background-color: yellow;
}

